.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app {
  font-size: 2rem;
  height: 10vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 0.1rem solid #000;
}
